body{background:#EFEFEF;}
.container{width:100%;}
.film{background:white;padding:10px 0;margin:10px;border-bottom:4px solid gray;}
.film header h2{font-size:0.7em;width:100%;text-align:center;margin-top:0;}
.film footer{padding:5px;font-size:0.8em;}
.film footer .label{font-family:'Open Sans';}
.film img{max-width:100%;}
.footer{position: fixed;bottom:0;}
.nopadding{padding: 0 !important;}
.nomargin{margin: 0 !important;}
.label{border-radius:0;border-width: 0 0 4px 0;font-weight:normal;}
.btn{border-width:0 0 4px 0;}
.btn-xs{padding:3px 7px !important;font-size:0.8em;text-transform:none;font-weight:400;}
.filter{background: rgba(255,255,255,0.5);height:100%;}
.filter h2{font-size:0.8em;}
.filter ul{list-style-type: none;padding:0;}
.filter li{font-family:'Open Sans';font-size:0.8em;color:gray;border-bottom: 1px solid #ACACAC;padding:5px 10px;}

.lateral-menu{background:#CDCDCD;position:fixed;height:100%;left:0;}
.lateral-menu ul{list-style-type:none;padding:0 15px;margin-top: 30px;}
.lateral-menu ul a{color:#343434;}
.lateral-menu ul a:hover{text-decoration:underline;}
.admin-container{margin-top:50px;}
.film-image{width:100%;min-height:300px;border:4px solid white;background: white url('images/movie-alt2-128.png') no-repeat 50% 50%;}